extends base

block content 
    form.join-form.w-100.mx-auto(method="POST")
        div.form-group.mb-3
            label(for="password") 현재 비밀번호
            input.form-control#password(type="password", name="cur_password", placeholder="현재 비밀번호", required)
        div.form-group.mb-3
            label(for="password") 신규 비밀번호
            input.form-control#password(type="password", name="new_password", placeholder="신규 비밀번호", required)
        div.form-group.mb-3
            label(for="password2") 신규 비밀번호 확인
            input.form-control#password2(type="password", name="new_password2", placeholder="신규 비밀번호 확인", required)
        input.btn.btn-primary.mb-3(type="submit", value="비밀번호 변경")