<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>First Kitchen</h1>
    <a id="login" href="/login">Log In</a>
    <a id="logout" href="/logout">Log Out</a>
    <script>
      const loginA = document.getElementById("login");
      const logoutA = document.getElementById("logout");
      if (<%= loggedIn %>) {
        loginA.style.display = "none";
        logoutA.style.display = "inline";
      } else {
        loginA.style.display = "inline";
        logoutA.style.display = "none";
      }
    </script>
  </body>
</html>
