<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
  </head>
  <body>
    <h1>Log In</h1>
    <form method="POST">
      <input type="email" name="email" placeholder="이메일 주소" required />
      <input type="password" name="password" placeholder="비밀번호" required />
      <input type="submit" value="Login" />
    </form>
    <div>
      <span>계정이 없으신가요?</span>
      <a href="/join">회원가입</a>
    </div>
  </body>
</html>
