extends base.pug

block content 
    form.login-form.w-100.mx-auto(method="POST")
        input.form-control.mb-3(type="email", name="email", placeholder="이메일 주소", required)
        input.form-control.mb-3(type="password", name="password", placeholder="비밀번호", required)
        input.btn.btn-primary.mb-3(type="submit", value="Login")
        div
            span 계정이 없으신가요?
            a(href="/join") 회원가입&rarr;