extends base.pug
include mixins/curDeliveryMenu

block content 
    each store in prevDeliveries
        div.cart__store.mx-auto.my-3.shadow
            h4.cart__store-name=store.store_name
            each menu in store.menu 
                +deliveryMenu(menu)
            hr
            h5.total_price 총액: #{store.total_price}원
            case store.status
                when 2
                when 3
                    h5.status 주문 완료
                    if store.is_reviewed
                        span.review-fin-text 리뷰 작성 완료
                    else
                        a(href=`/user/writereview/${store.delivery_id}`).btn.btn-primary 리뷰쓰기 
                    - break
                when 4
                when 5
                    h5.status 환불 처리
                    - break
                default 
                    h5.status 에러...
    else 
        span.empty__message 진행중인 주문이 없습니다!
                