extends base

block content 
    a(href="/user/edit", style="display:block") Edit Profile &rarr;
    a(href="/user/change-password", style="display:block") Change Password &rarr;
    a(href="/user/likes", style="display:block") 찜한 가계들 &rarr;  