extends base

block content 
    a(href=`/user/${id}/edit`, style="display:block") Edit Profile &rarr;
    a(href=`/user/${id}/change-password`, style="display:block") Change Password &rarr;
    a(href=`/user/${id}/likes`, style="display:block") 찜한 가계들 &rarr;  