extends base
include mixins/menu

block content 
    div.d-flex.flex-column.align-items-center.w-100
        img.img-fluid.rounded.border.border-light(src="https://picsum.photos/400/200")
        div.store-info.d-flex.flex-column.align-items-center.m-3.w-100
            h3.store-info__title=store.storeName 
            form(method="post")
                if like 
                    input(type="submit", name="submit", value="Unlike")
                else 
                    input(type="submit", name="submit", value="Like")
            div.store-info__rating ★ to be added 
            div.store-info__fee 배달팁 #{store.deliveryPrice}원
        div.menu-grid.d-flex.flex-column.align-items-center.w-100
            each menu in menus 
                +menu(store.id, menu)
            else
                span.empty__message 등록된 메뉴가 없습니다!
