header.navbar.navbar-expand-lg.navbar-light.bg-light.px-3.mb-3
    a(href="/").navbar-brand First Kitchen 
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav
            if loggedIn 
                li.nav-item
                    a(href=`/user/${loggedInUser.id}`).nav-link=loggedInUser.nickname
                li.nav-item 
                    a(href="/user/currentdelivery").nav-link 현재 주문
                li.nav-item
                    a(href="/logout").nav-link Log Out 
            else 
                li.nav-item
                    a(href="/login").nav-link Login
                li.nav-item
                    a(href="/join").nav-link Join 